.modal-box {
    border: none !important;
    padding: 0 !important;
    width: 602px !important;
    height: 315px !important;
    border-radius: 12px;
    z-index: 999;

    #spring-modal-title {
        h3 {
            font-family: 'Poppins';
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            display: block;
            background-color: #F4F4F4;
            padding: 15px 0 15px 31px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }
    }

    #spring-modal-description {
        margin: 21px 31px 0 31px;

        h4 {
            font-family: 'Poppins';
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
        }

        p {
            font-family: 'Poppins';
            font-size: 12px;
            font-weight: 300;
            line-height: 18px;
            margin-top: 12px;

            a {
                color: black;
                text-decoration: underline !important;
            }
        }

        .copy {
            display: flex;
            justify-content: center;
            margin-top: 99px;

            button {
                width: 264px;
                height: 52px;
                background-color: #2D2D2D;
                border: none;
                border-radius: 12px;
                cursor: pointer;
                font-family: 'Poppins';
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    transform: rotate(-90deg);
                    fill: white;
                    font-size: 18px;
                    margin-right: 6px;
                }
            }
        }
    }
}