.active {
  color: #3c77ff;
  border-bottom: 1px solid #3c77ff;
}

.starts-modal {
  transition: ease-in-out .3s;

  .close-icon {
    font-size: 29px;
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .drawer-top {
    padding: 37px 150px 7px 36px;
    width: 260px;
    display: flex;

    h1 {
      font-family: 'Poppins';
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      text-align: left;
      cursor: pointer;

      &:first-child {
        margin-right: 25px;
      }
    }
  }

  .drawer-bottom {
    padding: 23px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;

    .drawer-file {
      .drawer-text {
        font-family: 'Poppins';
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        text-align: left;
        margin-bottom: 33px;

        a {
          text-decoration: underline !important;
          color: black;
        }
      }

      .drawer-box {
        background-color: #707070;
        padding: 72px 105px;
        border-radius: 30px;

        .css-sghohy-MuiButtonBase-root-MuiButton-root {
          color: black;
          background-color: white;
          border-radius: 50px;
          padding: 18px 14px;
          text-transform: lowercase;
        }
      }
    }

    .drawer-create {
      .dw-btn {
        cursor: pointer;
        padding: 12px 34px;
        background-color: #367aff;
        border: none;
        border-radius: 10px;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: -0.06428569555282593px;
        text-align: center;
        color: white;
        display: flex;
        margin: 0 auto;
      }
    }
  }
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  width: 387px !important;
}

.css-1hskriy {
  width: 387px !important;
}

.lead {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;

  h6 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

  }

  .switch-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
  }
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;

  &:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
  }
}

input:checked+.slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

input:focus+.slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked+.slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}