.signIn {
    display: flex;
    justify-content: space-between;

    .signIn-left {
        margin: 32px;
        height: 78vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .inputs {

            margin: 0 auto;

            .inputs-top {
                h2 {
                    font-family: 'Inter';
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 44px;
                    letter-spacing: -0.04em;
                    padding-bottom: 12px;
                }

                p {
                    font-family: 'Inter';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    text-align: left;
                    color: #969696;
                }
            }

            // .inputs-mid {
            //     margin-top: 32px;

            //     label {
            //         font-family: 'Inter';
            //         font-size: 18px;
            //         font-weight: 400;
            //         line-height: 27px;
            //         text-align: left;
            //     }

            //     .css-wb57ya-MuiFormControl-root-MuiTextField-root {
            //         margin-bottom: 20px;
            //     }

            //     .MuiFormControl-root {
            //         margin: 0 0 20px 0;
            //         width: 100%;
            //     }

            //     .MuiFormLabel-root {
            //         background-color: white;
            //         width: 90px;
            //     }

            //     .css-1wc848c-MuiFormHelperText-root.Mui-error {
            //         margin: 5px 0 0 0;
            //     }

            //     .error {
            //         color: #d32f2f;
            //         font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            //         font-weight: 500;
            //         font-size: 0.75rem;
            //         line-height: 1.66;
            //         letter-spacing: 0.03333em;
            //         margin: 5px 0 0 0;
            //     }
            // }

            .inputs-mid {
                margin-top: 20px;

                form {
                    display: flex;
                    flex-direction: column;

                    .inp-div {
                        margin-bottom: 20px;

                        .inp-box {
                            display: inline-block;
                            position: relative;
                            width: 400px;
                            border-radius: 10px;
                        }
                    }

                    .inp-box label {
                        position: absolute;
                        color: black;
                        z-index: 2;
                        left: 16px;
                        top: 12px;
                        font: 400 16px "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                        color: #9a9a9a;
                        transition: all 0.3s ease;
                        background-color: #fff;
                        padding: 0 5px;
                    }

                    .inp-box input {
                        padding: 16px;
                        width: 100%;
                        border-radius: 10px;
                        border: none;
                        border: 1px solid #D9D9D9;
                    }

                    .inp-box input:focus {
                        outline: 1px solid #367aff;
                    }

                    .inp-box input:focus+label {
                        top: -8px;
                        font-size: 12px;
                        color: #367aff;
                    }

                    .focusInp {
                        top: -8px !important;
                        font-size: 12px !important;
                        color: #367aff !important;
                    }

                    .inp-box svg {
                        position: absolute;
                        top: 16px;
                        right: 16px;
                        font-size: 20px;
                        color: #9a9a9a;
                    }

                    .submit {
                        width: 400px;
                        background-color: #367aff;
                        color: #fff;
                        padding: 20px 0;
                        border-radius: 10px;
                    }

                    .text-danger-label {
                        color: red !important;
                        font-family: "Inter";
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                    }

                    .text-danger {
                        color: red;
                        font-family: "Inter";
                        margin-top: 5px;
                    }

                    .password-danger {
                        color: red;
                        font-family: "Inter";
                        margin-top: -10px;
                    }

                    .border-danger {
                        outline: 1px solid red;
                    }

                    .eye{
                        // display: none;
                    }
                }
            }

            .inputs-bt {
                display: flex;
                align-items: center;

                .check {
                    margin-right: 10px;
                    width: 18px;
                    height: 18px;
                    border: 2px 0px 0px 0px;
                    opacity: 0px;
                }

                p {
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }

            .inputs-sign {

                margin-top: 20px;

                .sign-in-button {
                    font-family: 'Inter';
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21.6px;
                    letter-spacing: -0.01em;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 16px 8px;
                    background-color: #367AFF;
                    border: none;
                    border-radius: 10px;
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
    }

    .walpaper {
        width: 60%;
        height: 100vh;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.error-border {
    border: 1px solid red;
}

.error-text {
    color: red;

}